body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://i.pinimg.com/originals/f0/fa/af/f0faafbd9ac022bb0f53a7439518b0f4.gif);
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 10px;
}
h1 {
    text-align: center;
    color: #333;
}
input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
#current-weather, #forecast {
    margin-top: 20px;
    text-align: center;
}
.forecast-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.forecast-item {
    background: #e7f3ff;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    width: 45%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media (max-width: 480px) {
    .forecast-item {
        width: 100%;
    }
}
